@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-light: #f8fafc;
    --secondary-light: #e2e8f0;
    --primary-dark: #0f172a;
    font-family: 'Roboto', sans-serif;
    font-size: calc(.75em + 0.5vw);
}
body {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    display: grid;
    grid-template-rows: auto 1fr;
}
.header {
    background-color: var(--primary-light);
    padding: 2rem 2rem;
    font-size: 3rem;
    font-weight: bolder;
}
.main {
    box-shadow: 0 0.5px 0px inset var(--primary-dark);
    padding: 1rem 0;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
}
#addBookButton {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    width: 8rem;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    justify-self: center;
    cursor: pointer;
}
#libraryContainer {
    width: 80vw;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-flow: row;
    gap: 5%;
    justify-items: center;
}
.card {
    background-color: var(--primary-light);
    width: 20rem;
    height: 22rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.cardText {
    font-size: 1.5rem;
}
.statusBox {
    background-color: red;
    border: none;
    border-radius: 12.5px;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
}
.removeBookButton {
    background-color: var(--secondary-light);
    border: none;
    border-radius: 12.5px;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
}
.formModal {
    background-color: var(--secondary-light);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
}
.displayForm {
    transform: translate(-50%, -50%) scale(1);
}
.formOverlay {
    background-color: rgba(15,23,42, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}
.displayOverlay {
    display: block;
}
fieldset {
    padding: 1.5rem 2rem 1.5rem 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
legend {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.textbox {
    border-radius: 7.5px;
    border: none;
    outline: none;
    font-size: 1.25rem;
    height: 2.5rem;
    width: 25rem;
}
.textbox > input {
    padding-left: 1rem;
}
.checkbox-container {
    display: grid;
    grid-template-columns: auto 1rem;
    gap: .75rem;
    align-items: center;
}
.checkbox-container > label {
    font-size: 1.25rem;
    cursor: pointer;
    }
#status {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: 0.25rem;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    transform: translateY(-0.075rem);
    display: grid;
    place-content: center;
    cursor: pointer;
}
#status::after {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--primary-dark);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#status:checked::after {
    transform: scale(1);
}
#submitButton {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    justify-self: center;
    cursor: pointer;
}
.footer {
    font-size: 1.25rem;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}