@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
margin: 0;
padding: 0;
}
:root {
--primary-light: #f8fafc;
--secondary-light: #f1f5f9;
--primary-dark: #0f172a;
}
body {
font-family: 'Roboto', sans-serif;
color: var(--primary-dark);
display: grid;
grid-template-rows: 0.25fr 6.75fr;
}
.header {
background-color: var(--primary-light);
padding: 2rem 2rem;
font-size: 2rem;
}
.main {
background-color: var(--secondary-light);
padding: 1rem 0;
display: grid;
grid-template-rows: 0.25fr 1fr;
justify-content: center;
}
#addBook {
background-color: var(--primary-dark);
color: var(--primary-light);
width: 10rem;
height: 4rem;
font-size: 1.5rem;
border-radius: 15px;
border: none;
justify-self: center;
cursor: pointer;
}
.form-modal {
background-color: var(--secondary-light);
position: fixed;
z-index: 1;
top: 50%;
left: 50%;
border-radius: 15px;
transform: translate(-50%, -50%) scale(0);
transition: 0.3s ease-in-out;
}
.active {
transform: translate(-50%, -50%) scale(1);
}
.overlay {
background-color: rgba(15,23,42, 0.5);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
}
.display {
display: block;
}
fieldset {
padding: 1.5rem 2rem 1.5rem 1rem;
border: none;
display: flex;
flex-direction: column;
align-items: center;
gap: 1.5rem;
}
legend {
padding-top: 1.5rem;
font-size: 2rem;
font-weight: bold;
text-align: center;
}
.textbox {
border-radius: 7.5px;
border: none;
outline: none;
font-size: 1.25rem;
height: 2.5rem;
width: 25rem;
}
.textbox > input {
padding-left: 1rem;
}
.checkbox-container {
display: grid;
grid-template-columns: auto 1rem;
gap: .75rem;
align-items: center;
}
.checkbox-container > label {
font-size: 1.25rem;
cursor: pointer;
}
#status {
-webkit-appearance: none;
appearance: none;
background-color: #FFFFFF;
height: 1.25rem;
width: 1.25rem;
margin-top: 0.25rem;
border: 1px solid var(--primary-dark);
border-radius: 5px;
transform: translateY(-0.075rem);
display: grid;
place-content: center;
}
#status::after {
content: "";
width: 0.65rem;
height: 0.65rem;
transform: scale(0);
transform-origin: bottom left;
transition: 120ms transform ease-in-out;
box-shadow: inset 1rem 1rem var(--primary-dark);
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);;
}
#status:checked::after {
transform: scale(1);
}
#submit {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    justify-self: center;
    cursor: pointer;
}